*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #eeeff1;
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {	
	padding: 8rem 20rem 2rem 10rem;
}

/*.main__img {
	position: absolute;
	top: 10%;
	right: 10%;
	border-radius: 50%;
	width: 250px;
	z-index: 1;
	animation: picture_animate linear 5s infinite alternate;
}*/

.main__image {
	background-image: url("../assets/me.jpg");
	background-size: cover;
	width: 250px;
	min-height: 250px;
	max-height: 250px;
	border-radius: 50%;
	z-index: 1;
}

/*.main__image:hover {
	filter: saturate(100%) contrast(100%);
}*/

.main__title {
	font-size: 4rem;
	font-weight: 500;
	line-height: 4.5rem;
	color: #191d21;
	z-index: 2;
	position: relative;
}

.main__title::before {
	content: "Hi, I am Shaman Sharif";
	top: 0;
	font-size: 3rem;
	font-weight: 400;
	display: block;
}

.main__subtitle {
	padding: 2rem 0rem;
	font-weight: 300;
	color: #61646d;
}

.main__action {
	background-color: #1a1c20;
	padding: 1rem 2.5rem;
	color: #ffffff;
	font-weight: 500;
	font-size: 1rem;
	text-decoration: none;
	border-radius: 8px;
}

.link {
	text-decoration: none;
	color: #191d21;
}


.navigation__logo {
	position: fixed;
	left: 0;
	top: 0;
	padding: 1rem 2rem;
	background-color: #eeeff1;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: .8rem;
	z-index: 99;
}

.navigation__links {
	position: fixed;
	padding: .5rem 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 99;
}

.navigation__links > a {
	padding: 0 .5rem;
	text-decoration: none;
	cursor: pointer;
	color: #191d21;
}

@media(min-width: 769px) {
	.navigation__action {
		background-color: #1a1c20 !important;
		color: #ffffff !important;
		padding: .5rem 1rem !important;
		border-radius: 8px;
	}

	.navigation__links {
		right: 0;
		top: 0;
	}

	.main__image {
		position: absolute;
		top: 10%;
		right: 15%;
		filter: saturate(50%) brightness(1.0) contrast(70%);
		animation: picture_animate linear 5s infinite alternate;
	}
}

@media(max-width: 768px) {
	.navigation__logo {
		width: 100%;
		padding: .5rem 1rem;
		text-align: center;
		font-size: 2rem;
		background-color: #eeeff1;
	}

	.navigation__links {
		bottom: 0;
		background-color: #eeeff1;
		width: 100%;
		justify-content: space-between;
		padding: .5rem 3rem;
	}

	.navigation__links > a {
		padding: 0;
		font-size: 1.15rem;
	}

	.main {
		padding: 7rem 3rem;
	}

	.main__image {
		width: 150px;
		min-height: 150px;
		max-height: 150px;
	}

	.main__title {
		padding-top: 2rem;
		font-size: 2.5rem;
		line-height: 2.5rem;
	}

	.main__title::before {
		font-size: 1.5rem;
	}

	.main__subtitle {
		font-size: 1.25rem;
		padding: 1rem 0;
	}

	.main__action {
		padding: .5rem 1.5rem;
		color: #ffffff;
		border-radius: 4px;
	}
}

@keyframes picture_animate {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(25px);
	}
}