*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #eeeff1;
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
}

.disabled {
	pointer-events: none;
}

textarea {
	border: 2px solid #191d21;
	padding: 1rem;
	font-family: inherit;
	background-color: #eeeff1;
	color: #191d21;
	outline: none;
	resize: none;
	width: 100%;
	height: 15rem;
	overflow: auto;
}

.main {	
	padding: 8rem 20rem 2rem 10rem;
}

.main__image {
	background-image: url("../assets/me.jpg");
	background-size: cover;
	width: 250px;
	min-height: 250px;
	max-height: 250px;
	border-radius: 50%;
	z-index: 1;
}

.main__title {
	font-size: 4rem;
	font-weight: 500;
	line-height: 4.5rem;
	color: #191d21;
	z-index: 2;
	position: relative;
}

.main__title::before {
	content: "Hi, I am Shaman Sharif";
	top: 0;
	font-size: 3rem;
	font-weight: 400;
	display: block;
}

.main__subtitle {
	padding: 2rem 0rem;
	font-weight: 300;
	color: #61646d;
}

.main__action {
	background-color: #1a1c20;
	padding: 1rem 2.5rem;
	color: #ffffff;
	font-weight: 500;
	font-size: 1rem;
	text-decoration: none;
	border-radius: 8px;
}

.link {
	text-decoration: none;
	color: #191d21;
}

.link:hover {
	text-decoration: underline;
}

.navigation__logo {
	position: fixed;
	left: 0;
	top: 0;
	margin: 1rem 2rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: .8rem;
	z-index: 99;
	text-decoration: none;
	color: #000;
}

.navigation__links {
	position: fixed;
	padding: .5rem 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 99;
}

.navigation__links > a {
	padding: 0 .5rem;
	text-decoration: none;
	cursor: pointer;
	color: #191d21;
}

.footer__links {
	position: fixed;
	display: flex;
	flex-direction: column;
	bottom: 2rem;
	right: 2rem;
	z-index: 99;
}

.footer__links > a {
	font-size: 2rem;
	text-decoration: none;
	color: #61646d;
}

.footer__links > a:hover {
	color: #191d21;
}


.footer__links > a:nth-child(1) {
	margin-bottom: -.8rem;
}

.about {
	display: flex;
	flex-direction: row;
	padding: 10rem;
	align-items: center;
}

.about__image {
	min-width: 200px;
	min-height: 300px;
	max-width: 400px;
	max-height: 600px;
	background-image: url("../assets/me2.jpg");
	background-size: cover;
}

.about__desc {
	display: flex;
	padding: 0 2rem;
	flex-direction: column;
}

.about__desc__title {
	font-size: 4.5rem;
	font-weight: 500;
	color: #191d21;
}

.about__desc__text {
	font-size: 1.5rem;
	font-weight: 300;
	color: #191d21;
}

.skills {
	display: flex;
	flex-direction: row;
	padding: 0 10rem 10rem 10rem;
}

.skills__career {
	flex: 3;
	display: flex;
	flex-direction: column;
}

.skills__career__title {
	font-size: 3rem;
	flex-shrink: 0;
	color: #191d21;
}

.skills__career__text {
	font-size: 1.2rem;
	font-weight: 300;
	color: #191d21;
}

.skills__skillset {
	padding-left: 1rem;
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.skill-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-shrink: 1;
}

.skill {
	font-size: 1rem;
	color: #191d21;
	font-weight: 500;
	margin: .25rem;
	padding: .5rem 1rem;
	border: 2px solid #191d21;
	border-radius: 25px;
	flex-grow: 0;
	flex-shrink: 1;
}

.contact {
	display: flex;
	flex-direction: column;
	padding: 10rem;
	align-items: flex-start;
}

.contact__title {
	font-size: 4.5rem;
	font-weight: 500;
	color: #191d21;
}

.contact__subtitle {
	font-size: 2.5rem;
	padding: 1rem 0;
	font-weight: 400;
	color: #191d21;
}

.contact__contact-link {
	font-size: 1.2rem;
	font-weight: 300;
	color: #61646d;
}

.contact__contact-link a {
	color: #191d21;
	font-weight: 400;
}

.contact__textbox {
	width: 70%;
}

.contact__submit {
	padding: 1rem 0;
}

.contact__submit-btn {
	padding: 1rem 2rem;
	margin: 0;
	border: 2px solid #191d21;
	text-decoration: none;
	font-size: 1.2rem;
	color: #191d21;
	cursor: pointer;
}

.contact__submit-btn-sent {
	padding: 1rem 2rem;
	margin: 0;
	border: 2px solid #191d21;
	background-color: #191d21;
	text-decoration: none;
	font-size: 1.2rem;
	color: #eeeff1;
}

















@media(min-width: 769px) {
	.navigation__action {
		background-color: #1a1c20 !important;
		color: #ffffff !important;
		padding: .5rem 1rem !important;
		border-radius: 8px;
	}

	.navigation__links {
		right: 0;
		top: 0;
	}

	.main__image {
		position: absolute;
		top: 10%;
		right: 15%;
		filter: saturate(50%) brightness(1.0) contrast(70%);
		animation: picture_animate linear 5s infinite alternate;
	}
}

@media(max-width: 768px) {
	.navigation__logo {
		margin: 0;
		width: 100%;
		padding: .5rem 1rem;
		text-align: center;
		font-size: 2rem;
		background-color: #eeeff1;
	}

	.navigation__links {
		bottom: 0;
		background-color: #eeeff1;
		width: 100%;
		justify-content: space-between;
		padding: .5rem 3rem;
	}

	.navigation__links > a {
		padding: 0;
		font-size: 1.15rem;
	}

	.main {
		padding: 7rem 3rem;
	}

	.main__image {
		width: 150px;
		min-height: 150px;
		max-height: 150px;
	}

	.main__title {
		padding-top: 2rem;
		font-size: 2.5rem;
		line-height: 2.5rem;
	}

	.main__title::before {
		font-size: 1.5rem;
	}

	.main__subtitle {
		font-size: 1.25rem;
		padding: 1rem 0;
	}

	.main__action {
		padding: .5rem 1.5rem;
		color: #ffffff;
		border-radius: 4px;
	}

	.footer__links > a {
		color: #191d21;
	}

	.about {
		padding: 7rem 3rem 3rem 3rem;
		flex-direction: column;
		align-items: self-end;
	}

	.about__image {
		min-width: 150px;
		min-height: 150px;
		max-width: 300px;
		max-height: 300px;
		border-radius: 50%;
		border: 2px solid #191d21;
	}

	.about__desc {
		padding: 0;
	}

	.about__desc__title {
		font-size: 2rem;
	}

	.about__desc__text {
		font-size: 1.25rem;
		line-height: 1.8rem;
	}

	.skills {
		padding: 3rem 3rem 7rem 3rem;
		flex-direction: column;
		align-items: self-end;
	}

	.skills__career__title {
		font-size: 2rem;
		line-height: 2.5rem;
	}

	.skills__career__text {
		font-size: 1.25rem;
		line-height: 1.8rem;
	}

	.skills__skillset {
		padding: 1rem 0;
	}

	.skill-wrapper {
		justify-content: center;
	}

	.skill {
		font-size: .8rem;
		margin: .12rem;
		padding: .25rem .5rem;
	}

	.contact {
		padding: 7rem 3rem;
	}

	.contact__title {
		font-size: 2.5rem;
		line-height: 2.5rem;
		padding-bottom: 2rem;
	}

	.contact__contact-link {
		font-size: 1rem;
	}

	.contact__subtitle {
		font-size: 1.5rem;
		line-height: 1.5rem;
	}

	.contact__textbox {
		width: 90%;
		border-radius: 0;
	}

	textarea {
		font-size: 1.5rem;
	}
 
}

@keyframes picture_animate {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(25px);
	}
}